---
import MainLayout from "../../layouts/MainLayout.astro";
import PostComponent from "../../components/PostComponent.astro";

import { formatBlogPosts } from "../../js/utils.js"

const allPosts = await Astro.glob("./*.md");
const formattedPosts = formatBlogPosts(allPosts)
---



<MainLayout title="Blog">
  <div class="flex flex-col justify-center items-center">
    <h1>Blog</h1>
    <div class="flex justify-center items-center">
      <div class="flex flex-col w-[80vw]">
        {
          formattedPosts.map((post) => (
            <a href={post.url}>
              <PostComponent
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                pubDate={post.frontmatter.pubDate}
                author={post.frontmatter.author}
                tags={post.frontmatter.tags}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
